.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/extenstions_addons/FileContentIndex/9c033f8c-52e7-4930-be1b-2bf81797337e.vsidx
.vs/extenstions_addons/FileContentIndex/14ee560c-5ce6-4271-bbc4-acc9b1fedddd.vsidx
.vs/extenstions_addons/FileContentIndex/62dec949-328a-4a9d-b1a4-6450a52f0b5a.vsidx
.vs/extenstions_addons/FileContentIndex/85ec2a05-ad8c-4158-aa60-d19239059f57.vsidx
.vs/extenstions_addons/FileContentIndex/read.lock
.vs/extenstions_addons/v17/.wsuo
